<launch>

<node if="true" pkg="loitor_ros" type="loitor_node" name="loitor_ros_1" />

<node if="true" pkg="tf" type="static_transform_publisher" name="camera_base_link" 
	args="0 0 0 -0.5 0.5 -0.5 0.5 /base_link /stereo_camera 100" />

<group ns="stereo_camera">
<node if="true" pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_image_proc"/>

<node if="true" pkg="nodelet" type="nodelet" name="disparity2depth" args="standalone rtabmap_ros/disparity_to_depth"/>
</group>


</launch>
